.root-layout {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the layout spans the viewport height */
}

.outlet-container {
    flex-grow: 1; /* Allow this section to expand below the navbar */
    margin-top: 64px; /* Matches the height of the AppBar */
    padding: 16px; /* Optional: Adds padding to content */
}
